@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Global styling */
* {
    font-family: "Ubuntu"
}

h1,
h2 {
    font-family: "Audiowide";
}

h1 {
    font-size: 42px;
}

/* Navbar styling */

.navbar-brand {
    font-family: "Audiowide";
}

.navbar {
    background-color: rgb(192, 33, 33);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}