@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Global styling */
* {
    font-family: "Ubuntu"
}

body {
    transition: background-color 0.3s ease;
}

a {
    color: rgb(207, 42, 75);
}

h1,
h2,
h3 {
    font-family: "Audiowide";
}

h1 {
    font-size: 42px;
}

table th {
    width: auto !important;
}

td {
    cursor: default;
}

.driver,
.constructor {
    cursor: pointer;
}

/* Navbar styling */

.navbar-brand {
    font-family: "Audiowide";
}

.navbar {
    background-color: rgb(192, 33, 33);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* Profile styling */
.profile-category {
    font-weight: 500;
}

/* Home styling */
.podium-pos {
    font-family: 'Audiowide';
}

.podium-name {
    font-size: 1rem;
}

.articles {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
}

.article-card {
    flex: 0 0 auto;
    width: 18rem;
    cursor: pointer;
}

.article-section .card-img-top {
    height: 200px;
    object-fit: cover;
}

.article-section .card-body {
    display: flex;
    flex-direction: column;
}

.article-section .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.article-section .card-text {
    font-size: 1rem;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.article-section .btn-primary {
    align-self: start;
    margin-top: auto;
}

/* Footer styles */
.footer {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

#github-icon {
    height: 25px;
    filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(7480%) hue-rotate(354deg) brightness(107%) contrast(110%);
}