{% extends "layout.html" %}

{% block title %}
Constructors
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/drivers">Drivers</a>
</li>
<li class="nav-item">
    <a href="/constructors" class="nav-link active">Constructors</a>
</li>
<li class="nav-item">
    <a href="/races" class="nav-link">Races</a>
</li>
{% endblock %}

{% block main %}
<header>
    <h1 class="m-4">{{ year }} Formula 1 Constructor Standings</h1>
</header>
<div class="card p-3 m-3">
    <div class="container-fluid pt-3 pb-3">
        <div class="row">
            <form method="POST" action="/constructors" class="d-flex">
                <div class="col-auto me-2">
                    <select class="form-select" name="year" id="year">
                        {% for year in range(2024, 1957, -1) %}
                        <option value="{{ year }}" {% if year==selected_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto align-self-end">
                    <button type="submit" class="btn btn-danger">Filter</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Points</th>
                </tr>
            </thead>
            {% for constructor_standing in constructor_standings %}
            <tr>
                <td>{{ constructor_standing.position }} </td>
                <td class="constructor">{{ constructor_standing.constructor.name}}
                    <input type="hidden" id="constructor_id"
                        value="{{ constructor_standing.constructor.constructor_id }}">
                </td>
                <td>{{ constructor_standing.points }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}