{% extends "layout.html" %}

{% block title %}
Drivers
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/drivers">Drivers</a>
</li>
<li class="nav-item">
    <a href="/constructors" class="nav-link">Constructors</a>
</li>
<li class="nav-item">
    <a href="/races" class="nav-link">Races</a>
</li>
{% endblock %}

{% block main %}
<h1 class="text-center m-4">Driver Standings</h1>
{% endblock %}