{% extends "layout.html" %}

{% block title %}
Drivers
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/drivers">Drivers</a>
</li>
<li class="nav-item">
    <a href="/constructors" class="nav-link">Constructors</a>
</li>
<li class="nav-item">
    <a href="/races" class="nav-link">Races</a>
</li>
{% endblock %}

{% block main %}

<div class="card m-3 p-3">
    <h1 class="m-4">{{ driver.given_name }} {{ driver.family_name }}</h1>
    <div>Date of Birth: {{ driver.date_of_birth }}</div>
    <div>Nationality: {{ driver.nationality }}</div>
    <div>Permanent Number: {{ driver.permanent_number }}</div>
</div>
{% endblock %}