{% extends "layout.html" %}

{% block title %}
Drivers - {{ driver.given_name }} {{ driver.family_name }}
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/drivers">Drivers</a>
</li>
<li class="nav-item">
    <a href="/constructors" class="nav-link">Constructors</a>
</li>
<li class="nav-item">
    <a href="/races" class="nav-link">Races</a>
</li>
{% endblock %}

{% block main %}
<div class="card m-3 p-3 profile-card">
    <!-- Card Image for Smaller Viewports -->
    <div class="card-img-top d-md-none mb-4">
        <img class="img-fluid rounded profile-img" src="{{ driver_db_data['pic'] }}" alt="profile image">
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="img-fluid rounded profile-img d-none d-md-block" src="{{ driver_db_data['pic'] }}"
                alt="profile image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container-sm">
                <h1>{{ driver.given_name }} {{ driver.family_name }}</h1>
                <div class="row">
                    <div class="col profile-category">Date of Birth</div>
                    <div class="col">{{ driver.date_of_birth }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Nationality</div>
                    <div class="col">{{ driver.nationality }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Permanent Number</div>
                    <div class="col">{{ driver.permanent_number }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Points</div>
                    <div class="col">{{ driver_db_data["points"] }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Wins</div>
                    <div class="col">{{ driver_db_data["wins"] }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Championships</div>
                    <div class="col">{{ driver_db_data["championships"] }}</div>
                </div>
            </div>
            <div class="container-fluid pt-3 pb-3">
                <div class="row">
                    <div class="col-auto ms-1">
                        <h3>{{ selected_year }} Driver Standing</h3>
                    </div>
                    <div class="col">
                        <form method="POST" action="/drivers/{{ driver.driver_id }}" class="d-flex">
                            <div class="col-auto me-2">
                                <select class="form-select" name="year" id="year">
                                    {% for year in range(driver_db_data["last_year"], driver_db_data["first_year"]-1,
                                    -1) %}
                                    <option value="{{ year }}" {% if year==selected_year %}selected{% endif %}>{{ year
                                        }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto align-self-end">
                                <button type="submit" class="btn btn-danger">Filter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col profile-category">Team</div>
                    <div class="col">{{ standing.driver_standings[0].constructors[0].name }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Position</div>
                    <div class="col">{{ standing.driver_standings[0].position }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Wins</div>
                    <div class="col">{{ standing.driver_standings[0].wins }}</div>
                </div>
                <div class="row">
                    <div class="col profile-category">Points</div>
                    <div class="col">{{ standing.driver_standings[0].points }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}