{% extends "layout.html" %}

{% block title %}
Drivers - {{ driver.given_name }} {{ driver.family_name }}
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/drivers">Drivers</a>
</li>
<li class="nav-item">
    <a href="/constructors" class="nav-link">Constructors</a>
</li>
<li class="nav-item">
    <a href="/races" class="nav-link">Races</a>
</li>
{% endblock %}

{% block main %}

<div class="card m-3 p-3">
    <div class="container-fluid">
        <h1>{{ driver.given_name }} {{ driver.family_name }}</h1>
        <div>Date of Birth: {{ driver.date_of_birth }}</div>
        <div>Nationality: {{ driver.nationality }}</div>
        <div>Permanent Number: {{ driver.permanent_number }}</div>
        <div>Points: {{ driver_db_data["points"] }}</div>
        <div>Wins: {{ driver_db_data["wins"] }}</div>
        <div>Championships: {{ driver_db_data["championships"] }}</div>
    </div>
    <div class="container-fluid pt-3 pb-3">
        <div class="row">
            <div class="col-auto ms-1">
                <h3>{{ selected_year }} Driver Standing</h3>
            </div>
            <div class="col">
                <form method="POST" action="/drivers/{{ driver.driver_id }}" class="d-flex">
                    <div class="col-auto me-2">
                        <select class="form-select" name="year" id="year">
                            {% for year in range(driver_db_data["last_year"], driver_db_data["first_year"]-1, -1) %}
                            <option value="{{ year }}" {% if year==selected_year %}selected{% endif %}>{{ year }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto align-self-end">
                        <button type="submit" class="btn btn-danger">Filter</button>
                    </div>
                </form>
            </div>
        </div>
        <div>Team: {{ standing.driver_standings[0].constructors[0].name }}</div>
        <div>Position: {{ standing.driver_standings[0].position }}</div>
        <div>Wins: {{ standing.driver_standings[0].wins }}</div>
        <div>Points: {{ standing.driver_standings[0].points }}</div>
    </div>
</div>
{% endblock %}