{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/drivers">Drivers</a>
</li>
<li class="nav-item">
    <a href="/constructors" class="nav-link">Constructors</a>
</li>
<li class="nav-item">
    <a href="/races" class="nav-link">Races</a>
</li>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <section class="latest-race-results">
        <h1 class="mt-4 mb-4 text-center">{{ race.season }} {{ race.race_name }} Results</h1>
        <div class="row">
            <!--2nd place-->
            <div class="col">
                <div class="card text-bg-dark podium">
                    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/sainz"
                        class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title podium-pos">2nd Place</h5>
                        <h5 class="card-title">{{ podium[1].driver.given_name}} {{ podium[1].driver.family_name}}</h5>
                    </div>
                </div>
            </div>
            <!--1st place-->
            <div class="col">
                <div class="card text-bg-dark podium">
                    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/sainz"
                        class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title podium-pos">1st Place</h5>
                        <h5 class="card-title">{{ podium[0].driver.given_name}} {{ podium[0].driver.family_name}}</h5>
                    </div>
                </div>
            </div>
            <!--3rd place-->
            <div class="col">
                <div class="card text-bg-dark podium">
                    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/sainz"
                        class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title podium-pos">3rd Place</h5>
                        <h5 class="card-title">{{ podium[2].driver.given_name}} {{ podium[2].driver.family_name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 m-3">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-1">Position</th>
                            <th class="col-3">Driver</th>
                            <th class="col-2">Team</th>
                            <th class="col-1">Laps</th>
                            <th class="col-2">Time</th>
                            <th class="col-1">Points</th>
                        </tr>
                    </thead>
                    {% for race_result in race_results.results %}
                    <tr>
                        <td class="col-1">{{ race_result.position }}</td>
                        <td class="col-3">
                            <a href="/drivers/{{race_result.driver.driver_id}}" class="link-danger link-offset-2 link-offset-3-hover
                        link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                {{ race_result.driver.given_name }} {{race_result.driver.family_name }}
                            </a>
                        </td>
                        <td class="col-2">
                            <a href="/constructors/{{ race_result.constructor.constructor_id}}" class="link-danger link-offset-2 link-offset-3-hover
                        link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                {{ race_result.constructor.name }}
                            </a>
                        </td>
                        <td class="col-1">{{ race_result.laps }}</td>
                        <td class="col-2">{{ race_result.time.time }}</td>
                        <td class="col-1">{{ race_result.points }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
    <section class="article-section">
        <div class="container-fluid mt-2 mb-2">
            <h1 class="mt-4 mb-4 text-center">Latest Formula 1 News</h1>
            <div class="container-fluid articles justify-content-center">
                <div class="row g-4 justify-content-center">
                    {% for article in articles %}
                    <div class="col-auto g-4 justify-content-center">
                        <div class="card h-100 article-card justify-content-center">
                            <img src="{{article['urlToImage']}}" class="card-img-top" alt="Article image">
                            <div class="card-body">
                                <h5 class="card-title">{{article['title']}}</h5>
                                <p class="card-text">{{article['description']}}</p>
                                <a href="{{article['url']}}" class="btn btn-danger">Read article</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}